<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs');%>
    <script src="/socket.io/socket.io.js"></script>
    <title>Productos</title>
</head>
<body>
    <div class="alert alert-success" role="alert">
        <p style ="font-size:larger">Bienvenido <%=user.nombre.toUpperCase()%> !</p> <a id="boton_logout" class="btn btn-primary" href="http://localhost:8080/logout" style = "float: right;">Logout</a>
    </div>

    <h1>Productos</h1>
    <form border="3">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Precio</label>
            <input type="text" class="form-control" id="precio" placeholder="Precio">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Foto</label>
            <input type="text" class="form-control" id="foto" placeholder="Foto">
        </div>
        <button type="submit" id="agregar"class="btn btn-primary">Agregar</button>
    </form>
    <br/>
    
    <h1>Tabla Productos</h1>
    <table id="tabla" class="table table-dark table-striped-columns" border="3">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto</th>
            </tr>
        </thead>
        <tbody>
            <% if(productos.length === 0) { %>
                <tr>
                    <td id ="no hay datos" colspan="3">No hay datos</td>
                </tr> 
                <% } else { %>
                    <% for(let i = 0; i<productos.length; i++) { %>
                        <tr class="table table-dark table-striped-columns">
                            <td><%=productos[i].producto %></td>
                            <td><%=productos[i].precio %></td>
                            <td>
                                <img src="<%=productos[i].foto%>" size="5" alt="5">
                            </td>
                        </tr>
            <% }}%> 
        </tbody>
    </table>
    <br/>
    
    <h1>Centro de Mensajes</h1>
    <form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="username" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Text Area</label>
            <textarea class="form-control" id="texto" rows="3"  placeholder="Cuentanos algo..."></textarea>
          </div>
        <button type="submit" id="boton_chat"class="btn btn-primary">Enviar</button>
    </form>
    <br/>
    <ul id="chatTable">
        <% if(mensajes.length == 0) { %>
            <div id="no_mensaje" class="alert alert-primary" role="alert">No hay mensajes</div>
            <% } else { %>
                <% for(let i = 0; i <mensajes.length; i++) { %>
                    <div class="alert alert-success" role="alert"><%=mensajes[i].author%> : <%=mensajes[i].text%> </div>
                <% }} %>
    </ul>
    
    <h1>Ver Gatos al Azar</h1> 
    <a id="boton_gatos" class="btn btn-primary" href="http://localhost:8080/api/gatos-test">Ver Gatos</a>
    
</body>
<script src="/main.js" charset="utf-8"></script>
</html>